
@{
    ViewBag.Title = "All Publications";
}

<script src="~/Scripts/App/Library/index.js"></script>
<div style="width:auto;">
    <br />
    <h2>All Publications</h2>
    <br />
    <div id="library-grid"></div>
</div>
